body {
    background-image: url('./pexels-ron-lach-10526919.jpg'); 
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* image doesn't repeat */
    background-attachment: fixed; /*Background not to move*/
    font-family: 'Arial', sans-serif; 
    margin: 0;
    padding: 0;
}

.login-container{
    display:flex; /*Enables Flexbox*/
    flex-direction: column;/*Dictates the direction of the flex container*/
    max-height: 300vh;
    margin-left: 20px;
    align-items: center;
  }

  .logo{
   
    max-width: 180px;
    max-height: 180px; 
    border-radius: 50px;
    padding: 1px;
    align-items:center ;
}

.logo img{
    max-width: 180px;
    max-height: 180px;    
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    padding: 12px; 
    margin-bottom: 20px;  
    width: 250px; 
    border-radius: 8px;
}

input[type="submit"]{
    background-color: #C4D7FF;
    width: 270px;
    padding: 12px; 
}

.or-text{
    text-align: center;
    color: rgb(46, 45, 45);
}

.other-logins{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.other-logins img { 
     max-width: 100px;
     padding-left: 30px; 
     padding-right: 30px;
     padding-top: 5px;
     padding-bottom: 5px;
     margin: 25px; 
     max-height: 30px; 
     border: 1px solid white;
     border-color: white;
     background-color: white;
     border-radius: 8px;
     transition: transform 0.3s ease
}

.other-logins img:hover { 
    transform: scale(1.1);
    border-color: #87A2FF;
}


a {
    color: #87A2FF ;
    text-decoration:none;
  }

    /* Media Queries */ 
  /* For tablets and larger screens */ 
  @media (min-width: 768px) 
  { 
    .login-container { 
        max-width: 600px; margin: auto; 
    }
    input, input[type="submit"] { 
        max-width: 400px; 
    } .other-logins { 
        max-width: 400px; 
    } 
}

/* For desktop screens */ 
@media (min-width: 1024px) 
{ 
    .login-container { max-width: 800px; 
    } 
    input, input[type="submit"] { 
        max-width: 500px; 
    } 
    .other-logins { max-width: 500px; } }